apiVersion: v1
baseDomain: vmc.devcluster.openshift.com
metadata:
  name: {{ .UserName }}
platform:
  vsphere:
    apiVIP: 192.168.222.88
    cluster: /DEVQEdatacenter/host/DEVQEcluster
    datacenter: DEVQEdatacenter
    defaultDatastore: /DEVQEdatacenter/datastore/vsanDatastore
    ingressVIP: 192.168.222.89
    network: devqe-segment-222
    username: {{ .UserName }}@devqe.ibmc.devcluster.openshift.com
    password: {{ .VmwarePassword }}
    vCenter: vcenter.devqe.ibmc.devcluster.openshift.com
networking:
  machineNetwork:
  - cidr: 192.168.222.0/24
pullSecret: '{{ .PullSecret }}'
sshKey: |
  {{ .SshPublicKey }}
