apiVersion: v1
baseDomain: vmc.devcluster.openshift.com
metadata:
  name: {{ .UserName }}-{{ .ClusterName }}
platform:
  vsphere:
    apiVIP: 172.31.250.88
    cluster: Cluster-1
    datacenter: SDDC-Datacenter
    defaultDatastore: WorkloadDatastore
    ingressVIP: 172.31.250.89
    network: dev-segment
    username: {{ .UserName }}@ldap.vmc.ci.openshift.org
    password: {{ .VmwarePassword }}
    vCenter: vcenter.sddc-44-236-21-251.vmwarevmc.com
pullSecret: '{{ .PullSecret }}'
sshKey: |
  {{ .SshPublicKey }}
